@charset "UTC-8";

/* Typical Device Breakpoints
------------------------------
Pequenas telas: até 60@px
Celular: de 688px até 768px
Tablet: 768px até 992 px
Desktop: 992px até 120@px
Grandes telas: acima de 1200px
*/

@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
       background-image: linear-gradient(to bottom
       , #035AA6, #023859); 
    }
    section#login {
        width: 80vw;
        height: 290px;
    }
    section#login > div#image {
        float: left;
        width: 35%;
        height: 100%;
        background-position: top right;
    }

    section#login > div#form {
        float: right;
        width: 65%;
        height: 100%;
    }

    div.campo > input {
        
        font-size: 1em;
        width: calc(100% - 44.6px);
        transform: translateY(-10px);
    }
}

@media screen and (min-width: 992px) {
    body {
        background-image: linear-gradient(to bottom
        , #035AA6, #023859); 
    }
    section#login {
        width: 950px;
        height: 310px;
    }

    section#login > div#image {
        float: right;
        width: 50%;
        height: 100%;
        background-position: top right;
    }

    section#login > div#form {
        float: left;
        width: 50%;
        height: 100%;
    } 
    
    div#form > h1 {
        font-size: 1.9em;
    }
    
    div#form > p {
        font-size: 1.1em;
    }

    div.campo > input {
        
        font-size: 1em;
        width: calc(100% - 44.6px);
        transform: translateY(-10px);
    }
}